#main.day
{
position: fixed;
top: 13vh;
left: 15%;
height: 80vh;
width: 55%;
border-radius: 15px;
background: #FFFFFF;
box-shadow: 0vw 1vh 15px rgba(0, 0, 0, 0.6);
overflow: auto;
z-index: -1;
}
#main.night
{
position: fixed;
top: 13vh;
left: 15%;
height: 80vh;
width: 55%;
border-radius: 15px;
background: #122934;
box-shadow: 0vw 1vh 15px rgba(0, 0, 0, 0.6);
overflow: auto;
z-index: -1;
}
#main::-webkit-scrollbar
{
width: 10px;
height: 10px;
background: transparent;
}
#main::-webkit-scrollbar-thumb
{
background: rgba(6, 27, 33, 0.85);
border-radius: 25px;
border: solid white 2px;
}
	#tga
	{
	font-family: 'DM Sans', sans-serif;
	/*border: solid black 2px;*/
	font-size: 3vw;
	padding: 3.5vh 0 3.5vh 1.5vw;
	}
	.ga
	{
	position: relative;
	width: calc(100%/4);
	height: 20vh;
	float: left;
	margin: 0 0 3vh 0;
	}
	.iga
	{
	display: block;
	margin: auto;
	height: 65%;
	cursor: pointer;
	}
	.pga
	{
	padding: 1vh 0 1vh 0;
	font-family: 'DM Sans', sans-serif;
	font-size: 1.8vw;
	text-align: center;
	bottom: 0;
	}