/************************************Button************************************/
  #music.night
  {
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  }
  #music.day
  {
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  }
  .mbtn
  {
  background-color: blue;
  margin: 0 0 0 1vw;
  height: 5.5vh;
  float: left;
  cursor: pointer;
  border: none;
  background-color: transparent;
  }
/************************************Player************************************/
  .music-content
  {
  position: absolute;
  display: none;
  }
  .show
  {
  position: fixed;
  top: 10vh;
  right: 10%;
  width: 35vw;
  height: 80vh;
  overflow: auto;
  background: #eef3f7;
  padding: 30px;
  border-radius: 10px 10px;
  display: block;
  box-shadow: 0vw 1vh 15px rgba(0, 0, 0, 0.6);
  }
    .player__top
    {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 4;
    }
  /*********************Cover Image*********************/
    .player-cover
    {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 80%;
    height: 300px;
    border-radius: 15px;
    z-index: 1;
    }
    .player-cover__item
    {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 5%;
    left: 8%;
    width: 20vw;
    height: 20vw;
    border-radius: 15px;
    }
    .player-cover__item:before
    {
    content: "";
    background: inherit;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
    display: block;
    z-index: 1;
    position: absolute;
    top: 30px;
    transform: scale(0.9);
    filter: blur(10px);
    opacity: 0.9;
    border-radius: 15px;
    }
    .player-cover__item:after
    {
    content: "";
    background: inherit;
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
    display: block;
    z-index: 2;
    position: absolute;
    border-radius: 15px;
    }
  /*********************Controls*********************/
    .player-controls
    {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    }
    .player-controls__item
    {
    display: inline-flex;
    width: 50px;
    height: 50px;
    position: relative;
    }
    .icon
    {
    cursor: pointer;
    width: 100%;
    height: 100%;
    stroke-width: 0;
    fill: #0E1826;
    position: relative;
    }

  /*********************Progress*********************/
    .progress
    {
    width: 100%;
    margin-top: 6vh;
    }
    .progress__top
    {
    display: flex;
    align-items: flex-end;
    }
    .progress__duration
    {
    color: #0E1826;
    font-weight: bold;
    font-size: 1.2vw;
    opacity: 0.8;
    font-family: 'DM Sans', sans-serif;
    }
    .progress__time
    {
    margin-top: 1vh;
    color: #0E1826;
    font-size: 1.2vw;
    font-weight: bold;
    opacity: 0.8;
    font-family: 'DM Sans', sans-serif;
    }
    .progress__bar
    {
    height: 1vh;
    width: 100%;
    cursor: pointer;
    background-color: #d0d8e6;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    }
    .progress__current
    {
    height: inherit;
    width: 0%;
    background-color: #0E1826;
    }
  /*********************Album Info*********************/
    .album-info
    {
    flex: 1;
    color: #0E1826;
    font-family: 'DM Sans', sans-serif;
    }
    .album-info__name
    {
    font-size: 2vw;
    font-weight: bold;
    line-height: 1.3em;
    }
    .album-info__track
    {
    font-size: 1.5vw;
    line-height: 1.3em;
    opacity: 0.8;
    }


.scale-out-enter-active {
  transition: all 0.35s ease-in-out;
}

.scale-out-leave-active {
  transition: all 0.35s ease-in-out;
}

.scale-out-enter {
  transform: scale(0.55);
  pointer-events: none;
  opacity: 0;
}

.scale-out-leave-to {
  transform: scale(1.2);
  pointer-events: none;
  opacity: 0;
}

.scale-in-enter-active {
  transition: all 0.35s ease-in-out;
}

.scale-in-leave-active {
  transition: all 0.35s ease-in-out;
}

.scale-in-enter {
  transform: scale(1.2);
  pointer-events: none;
  opacity: 0;
}

.scale-in-leave-to {
  transform: scale(0.55);
  pointer-events: none;
  opacity: 0;
}