	.mySlides img
	{
	margin: 0.5vh 0 0 0;
	height: 5.5vh;
	cursor: pointer;
	}
/**************************************Dark**************************************/
	#tnav.night
	{
	width: 85%;
	height: 10vh;
	position: fixed;
	padding: 1.3vh 0 0 0;
	right: 0;
	top: 0;
	vertical-align: middle;
	}
		#form1.night, #form2.night, #form3.night, #form4.night,
		#form5.night, #form6.night, #form7.night, #form8.night
		{
		border-radius: 20px;
		background-color: #182935;
		padding-right: 12px;
		height: 6.5vh;
		display: flex;
		justify-content: space-between;
		width: 60%;
		color: #0E1826;
		box-shadow: 0 2px 6px 0 rgba(136,148,171,.2);
		overflow: hidden;
		float: left;
		}
		#input1.night, #input2.night, #input3.night, #input4.night,
		#input5.night, #input6.night, #input7.night, #input8.night
		{
		font-family: 'DM Sans', sans-serif;
		cursor: text;
		border: none;
		outline: none;
		height: 100%;
		width: 100%;
		padding: 0 20px;
		font-size: 16px;
		color: white;
		background-color: #182935;
		z-index: 1;
		}
		#next.night, #prev.night, #music.night,
		#weather.night, #timer.night
		{
		height: 5.5vh;
		margin: 0 0 0 1vw;
		fill: #F1F6FD;
		cursor: pointer;
		float: left;
		}
		#music.night
		{
		height: 5.5vh;
		margin: 0 0 0 1vw;
		fill: #F1F6FD;
		cursor: pointer;
		float: left;
		}
		#weather.night
		{
		height: 5.5vh;
		margin: 0 0 0 1vw;
		fill: #F1F6FD;
		cursor: pointer;
		float: left;
		}
		#timer.night
		{
		height: 5.5vh;
		margin: 0 0 0 1vw;
		fill: #F1F6FD;
		cursor: pointer;
		float: left;
		}
		#MyClockDisplay.night
		{
		color: #F1F6FD;
		font-size: 2vw;
		margin: 0.5vh 0 0 1vw;
		font-family: 'DM Sans', sans-serif;
		letter-spacing: 0.1vw;
		float: left;
		}
/*************************************Light*************************************/
	#tnav.day
	{
	width: 85%;
	height: 10vh;
	position: fixed;
	padding: 1.3vh 0 0 0;
	right: 0;
	top: 0;
	vertical-align: middle;
	}
		#form1.day, #form2.day, #form3.day, #form4.day,
		#form5.day, #form6.day, #form7.day, #form8.day
		{
		border-radius: 20px;
		background-color: #FFFFFF;
		padding-right: 12px;
		height: 6.5vh;
		display: flex;
		justify-content: space-between;
		width: 60%;
		color: #0E1826;
		box-shadow: 0 2px 6px 0 rgba(136,148,171,.2);
		overflow: hidden;
		float: left;
		}
		#input1.day, #input2.day, #input3.day, #input4.day,
		#input5.day, #input6.day, #input7.day, #input8.day
		{
		font-family: 'DM Sans', sans-serif;
		cursor: text;
		border: none;
		outline: none;
		height: 100%;
		width: 100%;
		padding: 0 20px;
		font-size: 16px;
		z-index: 1;
		}
		#next.day, #prev.day, #music.day,
		#weather.day, #timer.day
		{
		height: 5.5vh;
		margin: 0 0 0 1vw;
		fill: #0E1826;
		cursor: pointer;
		float: left;
		}
		#music.day
		{
		height: 5.5vh;
		margin: 0 0 0 1vw;
		fill: #0E1826;
		cursor: pointer;
		float: left;
		}
		#weather.day
		{
		height: 5.5vh;
		margin: 0 0 0 1vw;
		fill: #0E1826;
		cursor: pointer;
		float: left;
		}
		#timer.day
		{
		height: 5.5vh;
		margin: 0 0 0 1vw;
		fill: #0E1826;
		cursor: pointer;
		float: left;
		}
		#MyClockDisplay.day
		{
		color: #0E1826;
		font-size: 2vw;
		margin: 0.5vh 0 0 1vw;
		font-family: 'DM Sans', sans-serif;
		letter-spacing: 0.1vw;
		float: left;
		}