<!DOCTYPE html>
<html lang="en">
<head>
  <!---Meta--->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Este es mi Dashboard :)">
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <!---Page Icon---> 
  <link rel="shortcut icon" href="../../multimedia/images/dashboard.png">
  <!--CSS Documents-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../../styles/lnav.css">
    <link rel="stylesheet" type="text/css" href="../../styles/tnav.css">
    <link rel="stylesheet" type="text/css" href="../../styles/music.css">
    <link rel="stylesheet" type="text/css" href="../../styles/weather.css">
    <link rel="stylesheet" type="text/css" href="../../styles/timer.css">
    <link rel="stylesheet" type="text/css" href="../../styles/loader.css">
    <link rel="stylesheet" type="text/css" href="styles/todo.css">
    <link rel="stylesheet" type="text/css" href="styles/search.css">
    <link rel="stylesheet" type="text/css" href="styles/slides-design.css">
    <link rel="stylesheet" type="text/css" href="styles/tab.css">
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css"/>
  <!--Fonts-->
    <!--All-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
    <!--Navbar-->
    <!--Font-->
  <title>Designer</title>
</head>
<body>
  <!--Left Nav-->
    <div id="lnav">
      <p id="lntittle">Designer</p>
      <a href="../../index.html">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="licon1">
          <title>Dashboard</title>
          <path d="M33.436 1.481a2 2 0 0 0-2.872 0L0 33c-.178.172.752 1 1 1h7v29a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V46a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v17a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V34h7c.248 0 1.178-.828 1-1z"></path>
        </svg>
      </a>
      <a href="../../pages/university/index.html">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="licon2">
          <title>University</title>
          <path d="M32 .7L-1.8 27.3h67.6L32 .7z"></path>
          <path d="M60 35.3a2 2 0 1 0 0-4H46a2 2 0 0 0 0 4v16h-8v-16h2a2 2 0 1 0 0-4H24a2 2 0 0 0 0 4h2v16h-8v-16a2 2 0 1 0 0-4H4a2 2 0 0 0 0 4h2v16H4a2 2 0 1 0 0 4h56a2 2 0 0 0 0-4h-2v-16zm2 24H2a2 2 0 0 0 0 4h60a2 2 0 0 0 0-4z"></path>
        </svg>
      </a>
      <a href="../../pages/designer/index.html">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="licon3" class="act">
          <title>Designer</title>
          <path d="M25 39l12.1-5.1L64 7l-7-7-26.9 26.9L25 39z"></path>
          <path d="M39.4 37.3l-.7.3-12.1 5.1-9 3.7 3.7-9 5.1-12.1.3-.7.6-.6 14-14H0v54h54V22.7l-14 14-.6.6z"></path>
        </svg>
      </a>
      <a href="../../pages/developer/index.html">
        <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" id="licon4">
          <title>Developer</title>
          <path d="M2 22v34h60V22zm13.543 23.315a2 2 0 1 1-3.012-2.631l5.849-6.694-5.847-6.673a2 2 0 1 1 3.008-2.635l8.153 9.3zM42 38H30a2 2 0 0 1 0-4h12a2 2 0 0 1 0 4z"></path>
          <path  d="M2 8v10h60V8zm6 7a2 2 0 1 1 2-2 2 2 0 0 1-2 2zm6 0a2 2 0 1 1 2-2 2 2 0 0 1-2 2zm6 0a2 2 0 1 1 2-2 2 2 0 0 1-2 2z"></path>
        </svg>
      </a>
      <a href="../../pages/calendar/index.html">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="licon5">
          <title>Calendar</title>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
      </a>
      <a href="../../pages/entertainment/index.html">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="licon6">
          <title>Entertainment</title>
          <path d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2z"/>
          <path d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23z"/>
        </svg>
      </a>
      <a href="../../pages/personal/index.html">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="licon7">
          <title>Personal</title>
          <path d="M31.5 44.6c0 1.6 0 4 8.1 5.6S49 59 49 59H1s0-7 9.4-8.8 8.1-4 8.1-5.6V43a14.6 14.6 0 0 1-4.2-7c-2.5 0-3-5.1-3-5.8s-.1-3.8 2.4-3.8C12 20 12.3 14.1 16.8 14.1c10.7-7.4 24.8-.6 19.6 12.3 2.5 0 2.4 3 2.4 3.8s-.6 5.8-3 5.8a14.6 14.6 0 0 1-4.2 7v1.6"></path>
          <path d="M63 23a2 2 0 0 0-2-2H45a2 2 0 0 0 0 4h16a2 2 0 0 0 2-2zm-2-10H45a2 2 0 0 0 0 4h16a2 2 0 0 0 0-4zM41 9h20a2 2 0 0 0 0-4H41a2 2 0 0 0 0 4z"></path>
        </svg>
      </a>
      <a href="../../pages/extras/index.html">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="licon8">
          <title>Extras</title>
          <path d="M47 30a16 16 0 1 0 16 16 16 16 0 0 0-16-16zm8 18h-6v6a2 2 0 1 1-4 0v-6h-6a2 2 0 0 1 0-4h6v-6a2 2 0 1 1 4 0v6h6a2 2 0 0 1 0 4z"></path>
          <path d="M47 26a19.9 19.9 0 0 1 8 1.7V10H1v40h26.4A20 20 0 0 1 47 26zM5 2h46v4H5z"></path>
        </svg>
      </a>
    </div>
  <!--Top Nav-->
    <div id="tnav">
      <!--Search Engines-->
          <!-----------------------------Duck Duck Go----------------------------->
            <div class="mySlides">
               <form id="form1" action="https://duckduckgo.com" method="GET" target="_blank">
                  <input id="input1" name="q" placeholder="Search the web without being tracked" autocomplete="on">
                  <a href="https://duckduckgo.com" target="_blank">
                  <img class="imgb" src="http://assets.stickpng.com/images/5847f32fcef1014c0b5e4877.png">
                  </a>
                </form>
            </div>
          <!---------------------------------Google--------------------------------->
            <div class="mySlides">
              <form id="form2" action="https://www.google.com.pe/search" method="GET" role="search" target="_blank">
                <input id="input2" name="q" type="text" placeholder="I'm Feeling Lucky" autocomplete="on">
                <input name="authuser" value="isch" type="hidden">
                <a href="https://www.google.com" target="_blank">
                <img src="https://cdn.icon-icons.com/icons2/836/PNG/512/Google_icon-icons.com_66793.png">
                </a>
              </form>
            </div>
          <!---------------------------------Youtube--------------------------------->
            <div class="mySlides">
              <form id="form3" action="https://www.youtube.com/results" target="_blank">
                <input id="input3" autocomplete="on" name="search_query" type="text" placeholder="Search Videos">
                <a href="https://www.youtube.com" target="_blank">
                <img src="https://cdn.icon-icons.com/icons2/1488/PNG/512/5295-youtube-i_102568.png">
                </a>
              </form>
            </div>
          <!-----------------------------Google Imagenes----------------------------->
            <div class="mySlides">
              <form id="form4" action="https://www.google.com.pe/search" method="GET" role="search" target="_blank">
                <input id="input4" name="q" type="text" placeholder="Search an image" autocomplete="on">
                <input name="tbm" value="isch" type="hidden">
                <a href="https://www.google.com.pe/imghp" target="_blank">
                <img src="https://i.blogs.es/5af7c0/lens_product_logo_color_720px_-2-/450_1000.png"> 
                </a>
              </form>
            </div>
          <!---------------------------------Flaticon--------------------------------->
            <div class="mySlides fade">
              <form id="form5" action="https://www.flaticon.com/search" method="get" target="_blank">
                  <input id="input5" type="search" name="word" placeholder="Search for icons" data-qa="search-bar" value="" autofocus="">
                  <a href="https://www.flaticon.com">
                    <img src="https://media.flaticon.com/dist/min/img/apple-icon-152x152-precomposed.png">
                  </a>
              </form>
            </div>
          <!------------------------Freepik------------------------>
            <div class="mySlides fade">
              <form id="form6" action="https://www.freepik.com/search" method="get" target="_blank">
                  <input id="input6" type="search" name="query" placeholder="Search all resources" value="" autofocus="" required="">
                  <a href="https://www.freepik.com">
                    <img src="https://freepik.cdnpk.net/img/favicons/apple-icon-144x144.png?v=2018082101">
                  </a>
              </form>
            </div>
          <!------------------------Pexels------------------------>
            <div class="mySlides fade">
              <form id="form7" action="https://www.pexels.com/es-es/search-photos/" target="_blank" autocomplete="off" method="get" role="search">
                  <input id="input7" autocapitalize="none" autocomplete="off" autofocus="" name="s" placeholder="Search free photos and videos " required="required" type="search" value="">
                  <a href="https://www.pexels.com/es-es/">
                    <img src="https://www.pexels.com/assets/icons/pexels-icon-644533b609157fd990b1a6675626d63077ae1fb81e819c83f81dc2242877d413.png">
                  </a>
              </form>
            </div>


        <div style="display: none;">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
        </div>
        <a onclick="plusSlides(1)">
          <svg id="next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path data-name="layer1" d="M39.777 28.593l12.26 11.273L62 26l-4.63-3.103-3.332 4.11A26.995 26.995 0 0 0 28 6C13.48 6 2 18.488 2 33a25.791 25.791 0 0 0 26 26 26.924 26.924 0 0 0 18.953-7.719l-4.244-4.241A20.967 20.967 0 0 1 28 53 19.786 19.786 0 0 1 8 33c0-11.203 8.788-21 20-21a20.979 20.979 0 0 1 20.126 16.12l-4.288-3.943z"></path>
          </svg>
        </a>
        <a onclick="plusSlides(-1)">
          <svg id="prev" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path d="M3.307 22.023a3 3 0 0 1 4.17.784l2.476 3.622A27.067 27.067 0 0 1 36 6c14.557 0 26 12.036 26 26.584a26.395 26.395 0 0 1-45.066 18.678 3 3 0 1 1 4.244-4.242A20.395 20.395 0 0 0 56 32.584C56 21.344 47.248 12 36 12a21.045 21.045 0 0 0-20.257 16.059l4.314-3.968a3 3 0 0 1 4.062 4.418l-9.737 8.952c-.013.013-.03.02-.043.033-.067.06-.143.11-.215.163a2.751 2.751 0 0 1-.243.17c-.076.046-.159.082-.24.12a3.023 3.023 0 0 1-.279.123c-.08.03-.163.05-.246.071a3.045 3.045 0 0 1-.323.07c-.034.006-.065.017-.1.022-.051.006-.102-.002-.154.002-.063.004-.124.017-.187.017-.07 0-.141-.007-.212-.012l-.08-.004-.05-.003c-.06-.007-.118-.03-.178-.04a3.119 3.119 0 0 1-.388-.087c-.083-.027-.16-.064-.239-.097a2.899 2.899 0 0 1-.314-.146 2.753 2.753 0 0 1-.233-.151 2.807 2.807 0 0 1-.262-.2 2.857 2.857 0 0 1-.2-.19 3.013 3.013 0 0 1-.224-.262c-.03-.04-.069-.073-.097-.114L2.523 26.194a3.001 3.001 0 0 1 .784-4.17z"></path>
          </svg>
        </a>
      <!--Icons-->
        <button onclick="myFunction()" class="mbtn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="music">
          <path d="M23 8.8v35.5h-6a10 10 0 1 0 10 10V22l26-7v21.3h-6a10 10 0 1 0 10 10V-.3z"></path>
        </svg>
        </button>
        <!--Music-Player-->
            <div id="musicplayer" class="music-content">
              <div class="player__top">
                      <div class="player-cover">
                        <transition-group :name="transitionName">
                            <div class="player-cover__item" v-if="$index === currentTrackIndex" :style="{ backgroundImage: `url(${track.cover})` }"  v-for="(track, $index) in tracks" :key="$index"></div>
                        </transition-group>
                      </div>

                      <div class="player-controls">
                        <div class="player-controls__item" @click="prevTrack">
                          <svg class="icon">
                            <use xlink:href="#icon-prev"></use>
                          </svg>
                        </div>
                        <div class="player-controls__item" @click="nextTrack">
                          <svg class="icon">
                            <use xlink:href="#icon-next"></use>
                          </svg>
                        </div>
                        <div class="player-controls__item -xl js-play" @click="play">
                          <svg class="icon">
                            <use xlink:href="#icon-pause" v-if="isTimerPlaying"></use>
                            <use xlink:href="#icon-play" v-else></use>
                          </svg>
                        </div>
                      </div>
              </div>

              <div class="progress" ref="progress">
                      <div class="progress__top">
                        <div class="album-info" v-if="currentTrack">
                          <div class="album-info__name">{{ currentTrack.artist }}</div>
                          <div class="album-info__track">{{ currentTrack.name }}</div>
                        </div>
                        <div class="progress__duration">{{ duration }}</div>
                      </div>
                      <div class="progress__bar" @click="clickProgress">
                        <div class="progress__current" :style="{ width : barWidth }"></div>
                      </div>
                      <div class="progress__time">{{ currentTime }}</div>
              </div>

              <svg xmlns="http://www.w3.org/2000/svg" hidden xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                      <symbol id="icon-pause" viewBox="0 0 32 32">
                        <title>icon-pause</title>
                        <path d="M16 0.32c-8.64 0-15.68 7.040-15.68 15.68s7.040 15.68 15.68 15.68 15.68-7.040 15.68-15.68-7.040-15.68-15.68-15.68zM16 29.216c-7.296 0-13.216-5.92-13.216-13.216s5.92-13.216 13.216-13.216 13.216 5.92 13.216 13.216-5.92 13.216-13.216 13.216z"></path>
                        <path d="M16 32c-8.832 0-16-7.168-16-16s7.168-16 16-16 16 7.168 16 16-7.168 16-16 16zM16 0.672c-8.448 0-15.328 6.88-15.328 15.328s6.88 15.328 15.328 15.328c8.448 0 15.328-6.88 15.328-15.328s-6.88-15.328-15.328-15.328zM16 29.568c-7.488 0-13.568-6.080-13.568-13.568s6.080-13.568 13.568-13.568c7.488 0 13.568 6.080 13.568 13.568s-6.080 13.568-13.568 13.568zM16 3.104c-7.104 0-12.896 5.792-12.896 12.896s5.792 12.896 12.896 12.896c7.104 0 12.896-5.792 12.896-12.896s-5.792-12.896-12.896-12.896z"></path>
                        <path d="M12.16 22.336v0c-0.896 0-1.6-0.704-1.6-1.6v-9.472c0-0.896 0.704-1.6 1.6-1.6v0c0.896 0 1.6 0.704 1.6 1.6v9.504c0 0.864-0.704 1.568-1.6 1.568z"></path>
                        <path d="M19.84 22.336v0c-0.896 0-1.6-0.704-1.6-1.6v-9.472c0-0.896 0.704-1.6 1.6-1.6v0c0.896 0 1.6 0.704 1.6 1.6v9.504c0 0.864-0.704 1.568-1.6 1.568z"></path>
                      </symbol>
                      <symbol id="icon-play" viewBox="0 0 32 32">
                        <title>icon-play</title>
                        <path d="M21.216 15.168l-7.616-5.088c-0.672-0.416-1.504 0.032-1.504 0.832v10.176c0 0.8 0.896 1.248 1.504 0.832l7.616-5.088c0.576-0.416 0.576-1.248 0-1.664z"></path>
                        <path d="M13.056 22.4c-0.224 0-0.416-0.064-0.608-0.16-0.448-0.224-0.704-0.672-0.704-1.152v-10.176c0-0.48 0.256-0.928 0.672-1.152s0.928-0.224 1.344 0.064l7.616 5.088c0.384 0.256 0.608 0.672 0.608 1.088s-0.224 0.864-0.608 1.088l-7.616 5.088c-0.192 0.16-0.448 0.224-0.704 0.224zM13.056 10.272c-0.096 0-0.224 0.032-0.32 0.064-0.224 0.128-0.352 0.32-0.352 0.576v10.176c0 0.256 0.128 0.48 0.352 0.576 0.224 0.128 0.448 0.096 0.64-0.032l7.616-5.088c0.192-0.128 0.288-0.32 0.288-0.544s-0.096-0.416-0.288-0.544l-7.584-5.088c-0.096-0.064-0.224-0.096-0.352-0.096z"></path>
                        <path d="M16 0.32c-8.64 0-15.68 7.040-15.68 15.68s7.040 15.68 15.68 15.68 15.68-7.040 15.68-15.68-7.040-15.68-15.68-15.68zM16 29.216c-7.296 0-13.216-5.92-13.216-13.216s5.92-13.216 13.216-13.216 13.216 5.92 13.216 13.216-5.92 13.216-13.216 13.216z"></path>
                        <path d="M16 32c-8.832 0-16-7.168-16-16s7.168-16 16-16 16 7.168 16 16-7.168 16-16 16zM16 0.672c-8.448 0-15.328 6.88-15.328 15.328s6.88 15.328 15.328 15.328c8.448 0 15.328-6.88 15.328-15.328s-6.88-15.328-15.328-15.328zM16 29.568c-7.488 0-13.568-6.080-13.568-13.568s6.080-13.568 13.568-13.568c7.488 0 13.568 6.080 13.568 13.568s-6.080 13.568-13.568 13.568zM16 3.104c-7.104 0-12.896 5.792-12.896 12.896s5.792 12.896 12.896 12.896c7.104 0 12.896-5.792 12.896-12.896s-5.792-12.896-12.896-12.896z"></path>
                      </symbol>
                      <symbol id="icon-next" viewBox="0 0 32 32">
                        <title>next</title>
                        <path d="M2.304 18.304h14.688l-4.608 4.576c-0.864 0.864-0.864 2.336 0 3.232 0.864 0.864 2.336 0.864 3.232 0l8.448-8.48c0.864-0.864 0.864-2.336 0-3.232l-8.448-8.448c-0.448-0.448-1.056-0.672-1.632-0.672s-1.184 0.224-1.632 0.672c-0.864 0.864-0.864 2.336 0 3.232l4.64 4.576h-14.688c-1.248 0-2.304 0.992-2.304 2.272s1.024 2.272 2.304 2.272z"></path>
                        <path d="M29.696 26.752c1.248 0 2.304-1.024 2.304-2.304v-16.928c0-1.248-1.024-2.304-2.304-2.304s-2.304 1.024-2.304 2.304v16.928c0.064 1.28 1.056 2.304 2.304 2.304z"></path>
                      </symbol>
                      <symbol id="icon-prev" viewBox="0 0 32 32">
                        <title>prev</title>
                        <path d="M29.696 13.696h-14.688l4.576-4.576c0.864-0.864 0.864-2.336 0-3.232-0.864-0.864-2.336-0.864-3.232 0l-8.448 8.48c-0.864 0.864-0.864 2.336 0 3.232l8.448 8.448c0.448 0.448 1.056 0.672 1.632 0.672s1.184-0.224 1.632-0.672c0.864-0.864 0.864-2.336 0-3.232l-4.608-4.576h14.688c1.248 0 2.304-1.024 2.304-2.304s-1.024-2.24-2.304-2.24z"></path>
                        <path d="M2.304 5.248c-1.248 0-2.304 1.024-2.304 2.304v16.928c0 1.248 1.024 2.304 2.304 2.304s2.304-1.024 2.304-2.304v-16.928c-0.064-1.28-1.056-2.304-2.304-2.304z"></path>
                      </symbol>
                    </defs>
            </div>

          <button onclick="weatherapp()" class="mbtn">
          <svg id="weather" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path d="M24.5 17.5a2 2 0 0 0 2-2v-6a2 2 0 1 0-4 0v6a2 2 0 0 0 2 2zm-13 13a2 2 0 0 0-2-2h-6a2 2 0 0 0 0 4h6a2 2 0 0 0 2-2zm1.3-8.9a2 2 0 1 0 2.8-2.8l-4.3-4.3a2 2 0 0 0-2.8 2.8zm22 .6a2 2 0 0 0 1.4-.6l4.3-4.3a2 2 0 1 0-2.8-2.8l-4.3 4.3a2 2 0 0 0 1.4 3.4zm-22 17.2l-4.3 4.3a2 2 0 1 0 2.8 2.8l4.3-4.3a2 2 0 0 0-2.8-2.8z"></path>
            <path d="M52.5 36.5a13 13 0 0 0-25 4.1h-1a8 8 0 0 0 0 16h26a10 10 0 0 0 0-20z"></path>
            <path d="M24.2 36.7A17.1 17.1 0 0 1 33.4 26a10 10 0 1 0-14.2 13 11.9 11.9 0 0 1 5-2.3z"></path>
          </svg>
          </button>
        <!--Weather App-->
            <div id="weather-app" class="weather-content">
              <input id="weatherinput" type="button" value="&#176;F / &#176;C" onclick="switchCelsiusAndFahrenheit()"/>
              <p id="weatherdata">Activate Location!</p>
            </div>
          <button onclick="timerfunc()" class="mbtn">
            <svg id="timer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
              <circle cx="31.494" cy="32" r="1.5"></circle>
              <path d="M32 0a32 32 0 1 0 32 32A32 32 0 0 0 32 0zm-.09 56a24 24 0 1 1 18.067-39.781l-.018-6.24a1 1 0 0 1 1-1A1.059 1.059 0 0 1 52 10v10H42a1.027 1.027 0 0 1-1.015-1.018 1 1 0 0 1 1-1h6.88A22 22 0 1 0 31.91 54a1 1 0 0 1 0 2zm3.084-24a3.458 3.458 0 0 1-.359 1.514l7.337 6.253a1.5 1.5 0 1 1-1.945 2.283l-7.785-6.635a3.491 3.491 0 0 1-2.248-6.564V15.027a1.5 1.5 0 0 1 1.5-1.5A1.482 1.482 0 0 1 33 15v14a3.276 3.276 0 0 1 1.994 3zm8.459 21.046a23.88 23.88 0 0 1-6.211 2.36 1.03 1.03 0 0 1-.223.024 1 1 0 0 1-.221-1.976 21.825 21.825 0 0 0 5.691-2.161 1 1 0 0 1 .963 1.752zm7.791-6.824a24.092 24.092 0 0 1-4.187 4.4 1 1 0 1 1-1.264-1.551 22.148 22.148 0 0 0 3.841-4.03 1 1 0 1 1 1.609 1.186zm2.186-3.585a1 1 0 0 1-.9.556.988.988 0 0 1-.443-.1 1 1 0 0 1-.451-1.34 21.883 21.883 0 0 0 1.287-3.219 1 1 0 1 1 1.91.592 23.823 23.823 0 0 1-1.403 3.511z"></path>
            </svg>
          </button>
        <!--Timer App-->
          <div id="timerapp" class="timer-content">
            <iframe id="clock1" src="https://codepen.io/king-pacaya/full/gOxYBLY"></iframe>
            <iframe id="clock2" src="https://cdpn.io/king-pacaya/full/wvqwYxz"></iframe>
            <iframe id="clock3" src="https://cdpn.io/king-pacaya/full/WNEeaKp"></iframe>
          </div>

        <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
    </div>
  <!--Slides-->
    <div id="slidesigncont">
      <a id="prevd" onclick="btnslide(-1)">&#10094;</a>
      <a id="nextd" onclick="btnslide(1)">&#10095;</a>
      <!--Tools-->
        <div class="slidesign">
          <div class="dides">
            <p class="tides">Tools</p>
          </div>
          <p class="ttolde">Fonts</p>
            <div class="dtolde">
              <a href="https://creativemarket.com" target="_blank">
                <img class="itolde" src="https://creativemarket.com/fav128.png">
              </a>
              <p class="ptolde">Creative Market</p>
            </div>

            <div class="dtolde">
              <a href="https://www.dafont.com/es/" target="_blank">
                <img class="itolde" src="https://www.grademorphic.com/wp-content/uploads/2015/04/icon-dafont.png">
              </a>
              <p class="ptolde">Dafont</p>
            </div>

            <div class="dtolde">
              <a href="http://tiff.herokuapp.com" target="_blank">
                <img class="itolde" src="https://cdn-icons-png.flaticon.com/512/873/873120.png">
              </a>
              <p class="ptolde">Tiff</p>
            </div>

            <div class="dtolde">
              <a href="https://www.typewolf.com" target="_blank">
                <img class="itolde" src="https://www.typewolf.com/assets/img/typewolf-300x300.png">
              </a>
              <p class="ptolde">Type Wolf</p>
            </div>

            <div class="dtolde">
              <a href="https://archetypeapp.com" target="_blank">
                <img class="itolde" src="https://archetypeconsulting.com/images/hero-logo.png">
              </a>
              <p class="ptolde">Archetype</p>
            </div>

            <div class="dtolde">
              <a href="https://fonts.google.com/" target="_blank">
                <img class="itolde" src="https://logos-marcas.com/wp-content/uploads/2021/03/Google-Fonts-New-Logo.png">
              </a>
              <p class="ptolde">Google Fonts</p>
            </div>

            <div class="dtolde">
              <a href="https://fonts.google.com/icons" target="_blank">
                <img class="itolde" src="https://logos-marcas.com/wp-content/uploads/2021/03/Google-Fonts-New-Logo.png">
              </a>
              <p class="ptolde">Google Icons</p>
            </div>

            <div class="dtolde">
              <a href="">
                <img class="itolde" src="https://play-lh.googleusercontent.com/afS719gxko5j3EkeHIPpDbSP4HjwTG7-pHn3URfzQ7wPXquVX6uV6VeEnFCmkQwk4w">
              </a>
              <p class="ptolde">Nothing</p>
            </div>
          <p class="ttolde">Edition</p>
            <div class="dtolde">
              <a href="https://genial.ly/es/" target="_blank">
                <img class="itolde" src="https://genial.ly/icons/icon-192x192.png">
              </a>
              <p class="ptolde">Genially</p>
            </div>

            <div class="dtolde">
              <a href="https://www.canva.com/es_es/" target="_blank">
                <img class="itolde" src="https://static.canva.com/static/images/apple-touch-180x180-1.png">
              </a>
              <p class="ptolde">Canva</p>
            </div>
            
            <div class="dtolde">
              <a href="https://desygner.com/es/" target="_blank">
                <img class="itolde" src="https://static.desygner.com/assets/logos/desygner-icon-clean.svg">
              </a>
              <p class="ptolde">Desygner</p>
            </div>
            
            <div class="dtolde">
              <a href="https://www.designevo.com" target="_blank">
                <img class="itolde" src="https://www.designevo.com/templates/designevosite/favicon.ico">
              </a>
              <p class="ptolde">Designevo</p>
            </div>
            
            <div class="dtolde">
              <a href="https://www.picmonkey.com" target="_blank">
                <img class="itolde" src="https://cdn-fastly.picmonkey.com/core/picmonkey_128.png">
              </a>
              <p class="ptolde">Picmonkey</p>
            </div>
            
            <div class="dtolde">
              <a href="https://piktochart.com" target="_blank">
                <img class="itolde" src="https://piktochart.com/wp-content/themes/piktochart/img/favicon.png">
              </a>
              <p class="ptolde">Picktochart</p>
            </div>
            
            <div class="dtolde">
              <a href="https://getstencil.com" target="_blank">
                <img class="itolde" src="https://d3b1ak9ylguumf.cloudfront.net/stencil/app/static/images/icons/favicons/circle.228x228.transparent.png?h=577cfa6e&v=2020-08-19.00">
              </a>
              <p class="ptolde">Stencil</p>
            </div>
            
            <div class="dtolde">
              <a href="https://infogram.com" target="_blank">
                <img class="itolde" src="https://cdn.jifo.co/favicon/apple-touch-icon.png">
              </a>
              <p class="ptolde">Infogram</p>
            </div>
          <p class="ttolde">Images</p>
            <div class="dtolde">
              <a href="https://www.fotor.com/es/" target="_blank">
                <img class="itolde" src="https://arleygarcia62.files.wordpress.com/2015/02/fotor-logo.png">
              </a>
              <p class="ptolde">Fotor</p>
            </div>
            
            <div class="dtolde">
              <a href="https://www.befunky.com" target="_blank">
                <img class="itolde" src="https://www.befunky.com/images/site/b-logo-dark-with-bg-180.png">
              </a>
              <p class="ptolde">Befunky</p>
            </div>
            
            <div class="dtolde">
              <a href="https://www.remove.bg" target="_blank">
                <img class="itolde" src="https://www.remove.bg/apple-touch-icon.png">
              </a>
              <p class="ptolde">Removebg</p>
            </div>
            
            <div class="dtolde">
              <a href="https://icons8.com/icons" target="_blank">
                <img class="itolde" src="https://img.icons8.com/color/480/icons8-new-logo.png">
              </a>
              <p class="ptolde">I8 Icons</p>
            </div>
          <p class="ttolde">Videos</p>
            <div class="dtolde">
              <a href="https://www.powtoon.com" target="_blank">
                <img class="itolde" src="https://static.powtoon.co/images/favicon/favicon-180.png">
              </a>
              <p class="ptolde">Powtoon</p>
            </div>
            
            <div class="dtolde">
              <a href="https://invideo.io" target="_blank">
                <img class="itolde" src="https://s3.amazonaws.com/helpsite-uploads/xupqphy8x0tsxzkaljjqllvcyv0%2FYIb_-XXCVD01593687874666-Logo%20LinkedIn%20InVideo.png">
              </a>
              <p class="ptolde">Invideo</p>
            </div>
            
            <div class="dtolde">
              <a href="https://www.unscreen.com" target="_blank">
                <img class="itolde" src="https://www.unscreen.com/apple-touch-icon-152x152.png">
              </a>
              <p class="ptolde">Unscreen</p>
            </div>

            <div class="dtolde">
              <a href="">
                <img class="itolde" src="https://play-lh.googleusercontent.com/afS719gxko5j3EkeHIPpDbSP4HjwTG7-pHn3URfzQ7wPXquVX6uV6VeEnFCmkQwk4w">
              </a>
              <p class="ptolde">Nothing</p>
            </div>            
          <p class="ttolde">Color</p>
            <div class="dtolde">
              <a href="https://color.adobe.com/es/create/color-wheel" target="_blank">
                <img class="itolde" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Adobe_Systems_logo_and_wordmark.svg/1789px-Adobe_Systems_logo_and_wordmark.svg.png">
              </a>
              <p class="ptolde">Color Adobe</p>
            </div>
            
            <div class="dtolde">
              <a href="https://www.huesnap.com" target="_blank">
                <img class="itolde" src="https://play-lh.googleusercontent.com/SYuMjf9tTpsHnj9dkabpwD3IujKVaqwTt97cVtZD4USGe8c3Awwyf8t3Vyt7nJYlClM">
              </a>
              <p class="ptolde">Huesnap</p>
            </div>
            
            <div class="dtolde">
              <a href="https://colorleap.app/home" target="_blank">
                <img class="itolde" src="https://imjustcreative.com/wp-content/uploads/2019/09/Color-Leap-Logo-Design-Tagline.png">
              </a>
              <p class="ptolde">Color Leap</p>
            </div>

            <div class="dtolde">
              <a href="">
                <img class="itolde" src="https://play-lh.googleusercontent.com/afS719gxko5j3EkeHIPpDbSP4HjwTG7-pHn3URfzQ7wPXquVX6uV6VeEnFCmkQwk4w">
              </a>
              <p class="ptolde">Nothing</p>
            </div>            
        </div>
      <!--To-do-->
        <div class="slidesign">
          <div class="dides">
            <p class="tides">To-Do</p>
          </div>
          <div id="todo">
            <div class="header">
              <div class="display">                
                <span id="date"></span>
              </div>
            </div>
            <div class="content">
              <ul id="list">
              </ul> 
            </div>
            <div class="add-to-do">
              <i class="fa fa-plus-circle"></i>
              <input type="text" id="inputt" placeholder="Add a to-do">
            </div>
          </div>
        </div>
      <!--Palette-->
        <div class="slidesign">
          <div class="dides">
            <p class="tides">Color Palettes</p>
            <button class="tablink" onclick="openPage('1')">1</button>
            <button class="tablink" onclick="openPage('2')">2</button>
            <button class="tablink" onclick="openPage('3')">3</button>
            <button class="tablink" onclick="openPage('4')">4</button>
          </div>

          <div id="1" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/bGrBVYK"></iframe>
          </div>

          <div id="2" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/MWvbaOR"></iframe>
          </div>

          <div id="3" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/gOxLazo"></iframe>
          </div>

          <div id="4" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/wvqoKjX"></iframe>
          </div>
        </div>
      <!--Picker-->
        <div class="slidesign">
          <div class="dides">
            <p class="tides">Color Picker</p>
            <button class="tablink" onclick="openPage('11')">1</button>
            <button class="tablink" onclick="openPage('21')">2</button>
            <button class="tablink" onclick="openPage('31')">3</button>
            <button class="tablink" onclick="openPage('41')">4</button>
          </div>

          <div id="11" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/MWvbaBM"></iframe>
          </div>

          <div id="21" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/abyBvad"></iframe>
          </div>

          <div id="31" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/JjybYaK"></iframe>
          </div>

          <div id="41" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/LYjbpJb"></iframe>
          </div>
        </div>
      <!--Color Tools-->
        <div class="slidesign">
          <div class="dides">
            <p class="tides">Color Tools</p>
            <button class="tablinkk" onclick="openPage('12')">1</button>
            <button class="tablinkk" onclick="openPage('22')">2</button>
          </div>

          <div id="12" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/QWMGEWQ"></iframe>
          </div>

          <div id="22" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/jOLVrOz"></iframe>
          </div>
        </div>
      <!--Image Editor-->
        <div class="slidesign">
          <div class="dides">
            <p class="tides">Image Editor</p>
            <button class="tablinkk" onclick="openPage('13')">1</button>
            <button class="tablinkk" onclick="openPage('23')">2</button>
          </div>

          <div id="13" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/QWMGEwm"></iframe>
          </div>

          <div id="23" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/jOLVrEx"></iframe>
          </div>
        </div>
      <!--Pixel Art-->
        <div class="slidesign">
          <div class="dides">
            <p class="tides">Pixel Art</p>
            <button class="tablinkkk" onclick="openPage('14')">1</button>
            <button class="tablinkkk" onclick="openPage('24')">2</button>
            <button class="tablinkkk" onclick="openPage('34')">3</button>
          </div>

          <div id="14" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/eYEBzLO"></iframe>
          </div>

          <div id="24" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/zYdoBJG"></iframe>
          </div>

          <div id="34" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/ExvNyeV"></iframe>
          </div>
        </div>
      <!--Draw-->
        <div class="slidesign">
          <div class="dides">
            <p class="tides">Draw</p>
            <button class="tablinkk" onclick="openPage('15')">1</button>
            <button class="tablinkk" onclick="openPage('25')">2</button>
          </div>

          <div id="15" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/KKvNMGE"></iframe>
          </div>

          <div id="25" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/yLoVJRW"></iframe>
          </div>
        </div>
      <!--Text Editor-->
        <div class="slidesign">
          <div class="dides">
            <p class="tides">Text Editor</p>
            <button class="tablinkkkk" onclick="openPage('16')">1</button>
            <button class="tablinkkkk" onclick="openPage('26')">2</button>
            <button class="tablinkkkk" onclick="openPage('36')">3</button>
            <button class="tablinkkkk" onclick="openPage('46')">4</button>
            <button class="tablinkkkk" onclick="openPage('56')">5</button>
            <button class="tablinkkkk" onclick="openPage('66')">6</button>
          </div>

          <div id="16" class="tabcontent">
            <textarea id="htmeditor"></textarea>
          </div>

          <div id="26" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/vYJyKbe"></iframe>
          </div>

          <div id="36" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/LYjbZqx"></iframe>
          </div>

          <div id="46" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/dyzOXaW"></iframe>
          </div>

          <div id="56" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/VwzmjgW"></iframe>
          </div>

          <div id="66" class="tabcontent">
            <iframe src="https://codepen.io/king-pacaya/full/JjybKxR"></iframe>
          </div>
        </div>
    </div>
  <!--Javascript Documents-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://htmeditor.com/js/htmeditor.min.js" htmeditor_textarea="htmeditor" run_local="no"></script> 
    <script type="text/javascript" src="../university/javascript/to-do.js"></script>
    <script type="text/javascript" src="../../javascript/clock.js"></script>
    <script type="text/javascript" src="../../javascript/dark-mode.js"></script>
    <script type="text/javascript" src="javascript/dark-mode.js"></script>
    <script type="text/javascript" src="../../javascript/search.js"></script>
    <script type="text/javascript" src="../../javascript/smusic.js"></script>
    <script type="text/javascript" src="../../javascript/weather.js"></script>
    <script type="text/javascript" src="../../javascript/timer.js"></script>
    <script type="text/javascript" src="../../javascript/loader.js"></script>
    <script type="text/javascript" src="javascript/slides-design.js"></script>
    <script type="text/javascript" src="javascript/tab.js"></script>
</body>
</html>
